body{
    background: #A2DBFA;
}
.form-wrapper{
    border-radius: 14px;
    background: #39A2DB;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}
.signup-btn > a{
    display: block;
    color: #053742;
    padding: 10px 0px;
    font-size: 1.1em;
}