body{
    background: #A2DBFA;
}
.form-wrapper{
    border-radius: 14px;
    background: #39A2DB;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}
input{
    padding: 12px;
    font-size: 1.1em;
}
.input-group, #signup-submit-btn{
    height: 5vw;
}
.input-group > input{
    width: 80%;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #053742 !important;
    color: #E8F0F2;
}
#signup-submit-btn{
    transition: 0.2s ease;
    font-size: 1.3em;
    width: 100%;   
    margin-top: 30px;
    color: #053742;
    background-color: #A2DBFA;
    border: 2px solid rgba(0, 0, 0, 0) !important;
}
#signup-submit-btn:hover{
    color: #E8F0F2;
    border: 2px solid #053742 !important;
    background: #053742;
}
.login-btn > a{
    display: block;
    color: #053742;
    padding: 10px 0px;
    font-size: 1.1em;
}
.error-log{
    padding: 15px 0px;
    font-size: 1.1em;
}
.errorlist{
    list-style: none;
    color: rgb(161, 0, 0);
}