{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | PaathShala</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/user/user_dashboard.css' %}">
    <link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
    <link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.bubble.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css">
</head>
<body>
    {% csrf_token %}
    <nav class="navbar">
        <div class="website-logo-wrapper">
            <img src="{% static 'images/logowtext.png' %}" alt="logo image" width="200px" height="120px" id="logo-img">
        </div>
        <div class="navbar-links">
            <div class="resource-wrapper" id="study-material-dropdown">
                <div class="dropdown-icon">
                    <svg class="svg-icon" viewBox="0 0 20 20">
                        <path d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10"></path>
                    </svg>
                </div>
                <div class="dropdown-title">Study Material</div>
                <div class="dropdown-items" id="study-dropdown-items">
                    
                </div>
            </div>
            <div class="resource-wrapper" id="practice-material-dropdown">
                <div class="dropdown-icon">
                    <svg class="svg-icon" viewBox="0 0 20 20">
                        <path d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10"></path>
                    </svg>
                </div>
                <div class="dropdown-title">Practice Material</div>
                <div class="dropdown-items" id="practice-dropdown-items">
                    
                </div>
            </div>
            <div class="resource-wrapper" id="doubts-viewer">
                <div class="dropdown-title">Doubts</div>
            </div>
        </div>
        <div class="user-functions">
            <div class="user-icon-wrapper">
                <svg class="svg-user-icon" width="50px" height="50px" data-jdenticon-value="{{ request.user }}"></svg>
            </div>
            <span id="greet-msg">Hi, {{ request.user }}</span>
            <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
        </div>
    </nav>
    <div id="study-material-container">
        
    </div>
    <div id="practice-material-container">
        
    </div>
    <div id="doubts-container">
        <div id="doubts-function">
            <div class="doubts-search-wrapper">
                <span class="search-heading">Search by tag - </span>
                <div class="search-input-wrapper">
                    <svg class="svg-icon search-icon" width="18" height="18" viewBox="0 0 18 18">
                        <path d="m18 16.5-5.14-5.18h-.35a7 7 0 10-1.19 1.19v.35L16.5 18l1.5-1.5zM12 7A5 5 0 112 7a5 5 0 0110 0z"></path>
                    </svg>
                    <input type="search" id="doubts-filter-search" placeholder="Tag..">
                </div>
                <input type="button" value="Search" id="doubts-search-btn">
            </div>
            <div id="ask-new-doubt-btn">
                Ask Question
            </div>
        </div>
        <div class="doubts-wrapper">
            <div id="doubts-wrapper"></div>
            <div id="user-doubts-wrapper">

            </div>
        </div>
        <div class="ask-doubt-window-wrapper">
            <div id="ask-doubt-window">
                <div class="window-heading">Ask a public question</div>
                <div id="text-editor-wrapper">
                    <div id="editor-container"></div>
                </div>
                <input type="text" id="doubt-tag-input" placeholder="Enter tags separated by comma">
                <div class="ask-ques-button-wrapper">
                    <div id="return-ask-doubt-window">Return</div>
                    <div id="post-doubt-btn">Post Question</div>
                </div>
            </div>
        </div>
        <div id="doubt-reply-window">
            <div class="reply-question-wrapper">
                <div class="reply-question-user-info">
                    <div id="reply-user-info-wrapper">
                        
                    </div>
                    <div id="upvote-wrapper">
    
                    </div>
                </div>
                <div class="reply-question-info">
                    <div id="reply-question-container"></div>
                    <div id="reply-question-tags-container">
    
                    </div>
                </div>
            </div>
            <div id="reply-question-answers-container">

            </div>
            <div class="reply-question-editor-container">
                <div id="reply-text-editor-wrapper">
                    <div id="reply-editor-container"></div>
                </div>
                <input type="submit" value="Post Answer" class="post-reply-btn" id="reply-post-btn">
            </div>
        </div>
    </div>
    <div id="study-resource-window">
        <div class="tags-list" id="study-resource-tags-wrapper"></div>
        <div class="study-resource-info-wrapper">
            <div id="study-resource-title"></div>
            <div id="study-resource-date"></div>
        </div>
        <div id="study-resource-description"></div>
        <iframe id="study-resource-file" src="" frameborder="0"></iframe>
    </div>
    <div id="practice-resource-window">

    </div>
    <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.1.1/dist/jdenticon.min.js" integrity="sha384-l0/0sn63N3mskDgRYJZA6Mogihu0VY3CusdLMiwpJ9LFPklOARUcOiWEIGGmFELx" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-storage.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="{% static 'js/user/user_dashboard.js' %}"></script>
    <script src="{% static 'js/user/user_dashboard_doubts.js' %}"></script>
    <script>
        const uid = "{{ request.user }}"
    </script>
</body>
</html>